* {
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
	outline:none;
}
html {
	font-size:10px;
	margin:auto;
	background-color: white;
	scroll-behavior:smooth;
}
body {
	max-width:100vw;
	overflow-x: hidden;
}
a:link {
    color: #000;
	text-decoration: none;
}
a:visited {
    color: #000;
}
a:hover {
    color: #000;
}
a:active {    
	color: #000;
}
a:focus {
	color:#000;
}
header {
	height:100vh; /*trzeba okreslic bo position fixed zepsuło*/
	font-family:'Oswald', sans-serif;
	top:0;
	left:0;
	display:flex;
  	justify-content: center;
  	align-items:center;
  	z-index:2;
}
header img {
	position:fixed;
	height:100vh;
	width:100vw;
	overflow: hidden;
}
#menu-button {
  	background: transparent;
  	width: 50px;
  	border-radius: 5px;
  	position: fixed;
  	top:5%;
  	right:8%;
  	cursor: pointer;
  	transition: all linear .3s;
  	padding: 4px;
  	z-index:8;
}
#menu-button.active {
  	background: transparent;
}
#line-1,#line-2,#line-3 {
  	width: 90%;
  	background: #000;
  	height: 8px;
  	margin: 4px auto;
  	border-radius: 2px;
  	transition: all linear .3s;
}
#line-1.active {
	-webkit-transform: translate(0px,12px) rotate(45deg);
	transform: translate(0px,12px) rotate(45deg);
}
#line-2.active {
	opacity: 0;
}
#line-3.active {
	-webkit-transform: translate(0px, -12px) rotate(-45deg);
	transform: translate(0px, -12px) rotate(-45deg);
}
#menu {
  	background: rgba(40,40,40,0.9);
  	width: 100%;
  	padding: 10px;
  	color: #fff;
  	font-family: arial;
  	display: none;
  	position: fixed;
  	top: 15%;
  	right:0;
  	border-radius: 5px;
  	opacity:0.95;
  	z-index:1000;
}
#menu ul {
  	list-style: none;
}
#menu ul li {
  	margin: 8px 0;
  	padding-bottom: 3px;
  	font-size: 2.3rem;
  	line-height: 1.5;
  	display:flex;
  	justify-content: center;
  	align-items:center;
}
#menu a {
	color:white;
	text-decoration: none;
}
#menu a:hover {
	color:rgb(33, 96, 150);
}
hgroup {
	margin-top:120px;
	position:fixed;
	z-index:1;
}
hgroup h3 a:hover {
	color:rgb(33, 96, 150);
}
header h1 {
	font-size:25px;
	text-transform: uppercase;
}
header h3 {
	font-size:1.8rem;
	font-weight:400;
}
.mailto {
	display:inline-block;
	width:100px;
	height:20px;
}
#arrow {
	width:48px;
	height:48px;
	border:4px solid black;
	position:fixed;
	bottom:7%;
	left:50%;
	transform:translateX(-50%);
	border-radius:50%;
	font-size:3.3rem;
	text-align:center;
	text-shadow:0px -10px 0 black, 0px -20px 0 black;
	overflow:hidden;
	transition:1s ease;
}
#arrow:hover {
	text-shadow:0 -10px 0 white, 0 -20px 0 white;
	color:white;
	border-color:white;
	background-color:black;
	cursor:pointer;
}
.fa-angle-down {
	animation:arrow 1.6s infinite linear;
}
@keyframes arrow {
	0% {
		transform:translateY(-80px)
	}
	50% {
		transform:translateY(0px)
	}
	100% {
		transform:translateY(80px)
	}
}

.main {
 /*trzeba tak okreslic by bylo pod headerem*/ /*trzeba okreslic jakakolwiek pozycje zeby z-index działał*/
	background-color: white;
	position:relative;
	width:100vw;
}
#education, #experience,#break, #skills, #language, #hobby {
	height:100vh;
	width:100vw;
	position:relative;
	z-index:3;
	overflow: hidden;
}

/*EDUKACJA*/
#education {
	background-color: #77aa77;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size:cover;
	height:100%;
	min-height: 100vh;
	display:flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}
h4 {
	width:100%;
	text-align: center;
	padding-top:30px;
	margin-bottom: 30px;
	font-size:36px;
	color:white;
	transition:all 2s;
	text-shadow: 3px 3px 2px black;
}
p.date {
	width:100%;
	display:flex;
	margin-top:20px;
	margin-bottom:10px;
	font-size:22px;
	justify-content: center;
	align-items: center;
	line-height: 22px;
	font-weight: bold;
	color:#fff;
	text-shadow: 2px 2px 1px black;
}
.studyElement {
	display:flex;
	width:80%;
	justify-content: center;
	margin:20px auto;
	box-shadow: 4px 4px 7px 0px;
	background-color:#fff;
	align-items:center;
	opacity:0;
	transition:opacity 1s;
}
.int {
	opacity:1;
	background-image: linear-gradient(45deg,white 88%,grey);
}
.studyDescription {
	width:100%;
	justify-content: center;
	font-size: 1.5em;
	line-height: 1.6;
	align-items: center;
	max-height:140px;
}
.university {
	font-weight: bold;
	font-size:1.2em;
	display:block;
	text-align: left;
}
.university-to-left {
	text-align: left;
}
p.university-to-left {
	margin-top:10px;
}
p.field {
	display:inline-block;
	font-weight: bold;
}
#education img {
	width:100px;
	height:100%;
	display:inline-block;
	margin-right:15px;
}
.USimage {
	padding: 3px;
}
.studyElement a {
	height:100%;
}
/*DOŚWIADCZENIE*/

#experience {
	background-color: #31ff79;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%233aff83' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2341ff8c' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2347ff95' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%234cff9e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2350ffa7' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%237effb8' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23a1ffc9' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23beffda' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23d9ffeb' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23f3fffc' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	color:#fff;
	padding-bottom: 50px;
	height:100%;
}
.timeline ul {
	background-color: #31ff79;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%233aff83' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2341ff8c' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2347ff95' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%234cff9e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2350ffa7' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%237effb8' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23a1ffc9' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23beffda' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23d9ffeb' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23f3fffc' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	padding:20px 0;
}
.timeline ul li {
	list-style-type: none;
	position:relative;
	width:3px;
	margin:0 auto;
	padding-top:30px;
	background-color: #fff;
	font-size:15px;
	text-align: left;
}
.timeline ul li::after {
	content:'';
	position:absolute;
	left:50%;
	bottom:0;
	transform:translateX(-50%);
	width:16px;
	height:16px;
	border-radius:50%;
	background:inherit;
}
.timeline ul li div {
	position:relative;
	bottom:0;
	width:150px;
	padding:10px;
	background-color: white;
	border:1px solid lightgreen;
	border-radius: 5%;
	color:darkgreen;
}
.timeline ul li div::before {
	content:'';
	position:absolute;
	bottom:5px;
	width:0;
	height:0;
	border-style:solid;
}
.timeline ul li:nth-child(odd) div {
	left:25px;
}
.timeline ul li:nth-child(odd) div::before {
	left:-15px;
	border-width:8px 16px 8px 0;
	border-color:transparent #fff transparent transparent;
}
.timeline ul li:nth-child(even) div {
	left:-175px;
}
.timeline ul li:nth-child(even) div::before {
	right:-15px;
	border-width:8px 0 8px 16px;
	border-color:transparent transparent transparent #fff;
}
time {
	display:block;
	font-size:1.4rem;
	font-weight:bold;
	margin-bottom:8px;
}
.timeline ul li::after {
	transition:background .5s ease-in-out;
}
.timeline ul li.in-view::after {
	background:lightgreen;
	border:1px solid;
}
.timeline ul li div {
	visibility:hidden;
	opacity:0;
	transition:all .5s ease-in-out;
}
.timeline ul li:nth-child(odd) div {
	transform:translate3d(100px,0,0);
}
.timeline ul li:nth-child(even) div {
	transform:translate3d(-100px,0,0);
}
.timeline ul li.in-view div {
	transform:none;
	visibility:visible;
	opacity:1;
}

/*BREAK*/
#break {
	background-image: url(przerwa.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	height:50vh;
	z-index:3;
}

/*UMIEJĘTNOŚCI*/

#skills {
	background-color: #71ffa7;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2379ffb1' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2380ffba' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2386ffc4' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%238cffcd' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2392ffd7' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23a8ffde' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23bcffe6' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23cfffed' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23e2fff5' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23f3fffc' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.accordion {
  	background-color: transparent;
  	text-align: center;
  	color: #000;
  	cursor: pointer;
  	padding: 18px;
  	width: 70%;
  	border:2px solid darkgreen;
  	border-radius: 50%;
  	font-size: 16px;
  	font-weight: bold;
  	transition: 0.5s;
}
.act {
  	width:80%;
  	border:3px dotted darkgreen;
}
.accordion:after {
  	content: '\002B';
  	color: #000;
  	font-weight: bold;
  	float: right;
  	margin-left: 5px;
  	cursor:pointer;
}
.act:after {
  	content: '\2212';
  	cursor:pointer;
}
.panel {
  	width:80%;
  	padding:18px, 18px;
  	margin-bottom: 30px;
  	background-color: transparent;
  	max-height:0;
  	overflow: hidden;
  	transition:max-height 0.6s ease-out;
}
.panel ul {
	padding:5px 20px;
	list-style-type: disc;
}
.panel ul li {
	padding:3px;
	font-size: 15px;
	color:darkgreen;
	line-height: 1.5;
}
/*JĘZYKI-wszystko ok już z RWD*/
#language {
	background-color: #71ffa7;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2379ffb1' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2380ffba' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2386ffc4' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%238cffcd' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2392ffd7' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23a8ffde' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23bcffe6' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23cfffed' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23e2fff5' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23f3fffc' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height:100%;
	padding: 15px 15px;
	display:flex;
	flex-flow:row wrap;
	justify-content: space-around;
}
#language h4 {
	width:100vw;
	padding-bottom: 25px;
	margin:auto;
}
.lang1 {
	display:flex;
	padding-right:15px;
	align-items: center;
}
#language img {
	width:90px;
	height:90px;
}
@keyframes lang {
	0%{transform:translateY(-100px);
	}
	100%{transform:translateY(0px);opacity:1;
	}
}
.star p {
	display:inline-block;
	font-size: 20px;
	margin:auto;
	align-items: center;
	justify-content: center;
	opacity:0;
}
.starBlack {
	animation:lang 0.3s ease-in-out forwards;
}
.star p:nth-child(1){
	animation-delay: 0.4s;
}
.star p:nth-child(2){
	animation-delay: 0.5s;
}
.star p:nth-child(3){
	animation-delay: 0.6s;
}
.star p:nth-child(4){
	animation-delay: 0.7s;
}
.star p:nth-child(5){
	animation-delay: 0.8s;
}
.star p:nth-child(6){
	animation-delay: 0.9s;
}
.star p:nth-child(7){
	animation-delay: 1s;
}
.star p:nth-child(8){
	animation-delay: 1.1s;
}
.star p:nth-child(9){
	animation-delay: 1.2s;
}
.star p:nth-child(10){
	animation-delay: 1.3s;
}
/*chce na widok zmienic translate before- poczytaj czy sie da*/

/*Zainteresowania*/
#hobby {
	background-color: #77aa77;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height:100%;
}
.icon {
	display:flex;
	width:200px;
	height:160px;
	justify-content: center;
	align-items: center;
	opacity:0;
}
.show {
	animation:show 2s 1 forwards;
}
@keyframes show {
	0% {
		transform:translateY(-80px)
	}
	100% {
		opacity:1;
		transform:translateY(0px)
	}
}
#hobby ul {
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	margin:0;
}
#hobby li {
	font-size:22px;
	list-style-type: none;
}
#hobby img {
	height:70px;
	width:70px;
}
footer {
	font-size: 12px;
	background: grey;
	color:white;
	position:relative;
	padding:10px 15px;
	text-align: justify;
}
/*POCZĄTEK MEDIA QUERIES*/
@media(min-width: 530px) {
	header img{
		width:70vw;
		left:0;
	}
}

/*MEDIA 800px*/
@media(min-width: 800px) {
header img{
		width:60vw;
	}
hgroup {
	margin-top:20px;
	top:35%;
	right:10%;
}
hgroup h3 a:hover {
	color:rgb(33, 96, 150);
}
header h1 {
	font-size:25px;
	text-transform: uppercase;
	padding-bottom:20px;
}
.studyElement {
	width:60%;
}
.studyDescription {
	width:100%;
	font-size: 2.0vw;
}
.university {
    font-size: 2.2vw;
  }
time{
	font-size:1.8rem;
}
.timeline ul li div {
	width:250px;
}
.timeline ul li {
	font-size:22px;
}
.timeline ul li:nth-child(even) div {
	left:-275px;
}
.accordion {
  	width: 50%;
}
.lang1 {
	display:flex;
	padding-right:15px;
	align-items: center;
	width:40vw;
}
.icon {
	width:23vw;
}
}	

/*MEDIA 1100px*/
@media(min-width: 1100px) {
header{
	background-color: rgba(240,240,240, 0.4);
	}
header img{
	width:40vw;
	}
hgroup {
	top:15%;
	right:20%;
}
header h1{
	font-size:3rem;
	border-bottom:3px solid rgba(250, 247, 55);
	padding-bottom: 0px;
}
header h3 {
	font-size:1.8rem;
	font-weight:400;
	position:relative;
	left:10%;
	padding-top:20px;
}
.mailto {
	display:inline-block;
	width:100px;
	height:20px;
}
#menu-button {
  	display:none;
}
#menu {
  	background: transparent;
  	width: 40%;
  	padding: 10px;
  	color: #000;
  	font-family: arial;
  	position: fixed;
  	display:block;
  	top: 50%;
  	right:5%;
  	border-radius: 5px;
  	opacity:0.95;
  	z-index:1;
}
#menu ul li {
  	margin: 8px 0;
  	padding-bottom: 3px;
  	font-size: 2.3rem;
  	line-height: 1.5;
  	display:flex;
  	justify-content: center;
  	align-items:center;
}
#menu a {
	color:black;
	text-decoration: none;
	margin:2px;
	transition:transform 0.3s;
}
#menu a:hover {
	color:rgb(33, 96, 150);
	border-bottom:2px solid rgba(250, 247, 55);
	transform:translateX(5px);
}
.studyElement {
	width:50%;
}
.studyDescription {
	width:100%;
	font-size: 1.8em;
}
.university {
    font-size: 1.2em;
  }
 p.date {
 	font-size:24px;
 }
time {
	font-size:2.1rem;
}
.timeline ul li div {
	width:350px;
}
.timeline ul li {
	font-size:26px;
}
.timeline ul li:nth-child(even) div {
	left:-375px;
}
.icon {
	display:flex;
	width:25vw;
}
.lang1 {
	display:flex;
	padding-right:0px;
	align-items: center;
	width:25%;
}
}
/*KONIEC MEDIA QUERIES*/
=======
* {
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
	outline:none;
}
html {
	font-size:10px;
	margin:auto;
	background-color: white;
	scroll-behavior:smooth;
}
body {
	max-width:100vw;
	overflow-x: hidden;
}
a:link {
    color: #000;
	text-decoration: none;
}
a:visited {
    color: #000;
}
a:hover {
    color: #000;
}
a:active {    
	color: #000;
}
a:focus {
	color:#000;
}
header {
	height:100vh; /*trzeba okreslic bo position fixed zepsuło*/
	font-family:'Oswald', sans-serif;
	top:0;
	left:0;
	display:flex;
  	justify-content: center;
  	align-items:center;
  	z-index:2;
}
header img {
	position:fixed;
	height:100vh;
	width:100vw;
	overflow: hidden;
}
#menu-button {
  	background: transparent;
  	width: 50px;
  	border-radius: 5px;
  	position: fixed;
  	top:5%;
  	right:8%;
  	cursor: pointer;
  	transition: all linear .3s;
  	padding: 4px;
  	z-index:8;
}
#menu-button.active {
  	background: transparent;
}
#line-1,#line-2,#line-3 {
  	width: 90%;
  	background: #000;
  	height: 8px;
  	margin: 4px auto;
  	border-radius: 2px;
  	transition: all linear .3s;
}
#line-1.active {
	-webkit-transform: translate(0px,12px) rotate(45deg);
	transform: translate(0px,12px) rotate(45deg);
}
#line-2.active {
	opacity: 0;
}
#line-3.active {
	-webkit-transform: translate(0px, -12px) rotate(-45deg);
	transform: translate(0px, -12px) rotate(-45deg);
}
#menu {
  	background: rgba(40,40,40,0.9);
  	width: 100%;
  	padding: 10px;
  	color: #fff;
  	font-family: arial;
  	display: none;
  	position: fixed;
  	top: 15%;
  	right:0;
  	border-radius: 5px;
  	opacity:0.95;
  	z-index:1000;
}
#menu ul {
  	list-style: none;
}
#menu ul li {
  	margin: 8px 0;
  	padding-bottom: 3px;
  	font-size: 2.3rem;
  	line-height: 1.5;
  	display:flex;
  	justify-content: center;
  	align-items:center;
}
#menu a {
	color:white;
	text-decoration: none;
}
#menu a:hover {
	color:rgb(33, 96, 150);
}
hgroup {
	margin-top:120px;
	position:fixed;
	z-index:1;
}
hgroup h3 a:hover {
	color:rgb(33, 96, 150);
}
header h1 {
	font-size:25px;
	text-transform: uppercase;
}
header h3 {
	font-size:1.8rem;
	font-weight:400;
}
.mailto {
	display:inline-block;
	width:100px;
	height:20px;
}
#arrow {
	width:48px;
	height:48px;
	border:4px solid black;
	position:fixed;
	bottom:7%;
	left:50%;
	transform:translateX(-50%);
	border-radius:50%;
	font-size:3.3rem;
	text-align:center;
	text-shadow:0px -10px 0 black, 0px -20px 0 black;
	overflow:hidden;
	transition:1s ease;
}
#arrow:hover {
	text-shadow:0 -10px 0 white, 0 -20px 0 white;
	color:white;
	border-color:white;
	background-color:black;
	cursor:pointer;
}
.fa-angle-down {
	animation:arrow 1.6s infinite linear;
}
@keyframes arrow {
	0% {
		transform:translateY(-80px)
	}
	50% {
		transform:translateY(0px)
	}
	100% {
		transform:translateY(80px)
	}
}

.main {
 /*trzeba tak okreslic by bylo pod headerem*/ /*trzeba okreslic jakakolwiek pozycje zeby z-index działał*/
	background-color: white;
	position:relative;
	width:100vw;
}
#education, #experience,#break, #skills, #language, #hobby {
	height:100vh;
	width:100vw;
	position:relative;
	z-index:3;
	overflow: hidden;
}

/*EDUKACJA*/
#education {
	background-color: #77aa77;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size:cover;
	height:100%;
	min-height: 100vh;
	display:flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}
h4 {
	width:100%;
	text-align: center;
	padding-top:30px;
	margin-bottom: 30px;
	font-size:36px;
	color:white;
	transition:all 2s;
	text-shadow: 3px 3px 2px black;
}
p.date {
	width:100%;
	display:flex;
	margin-top:20px;
	margin-bottom:10px;
	font-size:22px;
	justify-content: center;
	align-items: center;
	line-height: 22px;
	font-weight: bold;
	color:#fff;
	text-shadow: 2px 2px 1px black;
}
.studyElement {
	display:flex;
	width:80%;
	justify-content: center;
	margin:20px auto;
	box-shadow: 4px 4px 7px 0px;
	background-color:#fff;
	align-items:center;
	opacity:0;
	transition:opacity 1s;
}
.int {
	opacity:1;
	background-image: linear-gradient(45deg,white 88%,grey);
}
.studyDescription {
	width:100%;
	justify-content: center;
	font-size: 1.5em;
	line-height: 1.6;
	align-items: center;
	max-height:140px;
}
.university {
	font-weight: bold;
	font-size:1.2em;
	display:block;
	text-align: left;
}
.university-to-left {
	text-align: left;
}
p.university-to-left {
	margin-top:10px;
}
p.field {
	display:inline-block;
	font-weight: bold;
}
#education img {
	width:100px;
	height:100%;
	display:inline-block;
	margin-right:15px;
}
.USimage {
	padding: 3px;
}
.studyElement a {
	height:100%;
}
/*DOŚWIADCZENIE*/

#experience {
	background-color: #31ff79;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%233aff83' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2341ff8c' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2347ff95' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%234cff9e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2350ffa7' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%237effb8' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23a1ffc9' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23beffda' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23d9ffeb' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23f3fffc' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	color:#fff;
	padding-bottom: 50px;
	height:100%;
}
.timeline ul {
	background-color: #31ff79;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%233aff83' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2341ff8c' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2347ff95' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%234cff9e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2350ffa7' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%237effb8' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23a1ffc9' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23beffda' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23d9ffeb' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23f3fffc' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	padding:20px 0;
}
.timeline ul li {
	list-style-type: none;
	position:relative;
	width:3px;
	margin:0 auto;
	padding-top:30px;
	background-color: #fff;
	font-size:15px;
	text-align: left;
}
.timeline ul li::after {
	content:'';
	position:absolute;
	left:50%;
	bottom:0;
	transform:translateX(-50%);
	width:16px;
	height:16px;
	border-radius:50%;
	background:inherit;
}
.timeline ul li div {
	position:relative;
	bottom:0;
	width:150px;
	padding:10px;
	background-color: white;
	border:1px solid lightgreen;
	border-radius: 5%;
	color:darkgreen;
}
.timeline ul li div::before {
	content:'';
	position:absolute;
	bottom:5px;
	width:0;
	height:0;
	border-style:solid;
}
.timeline ul li:nth-child(odd) div {
	left:25px;
}
.timeline ul li:nth-child(odd) div::before {
	left:-15px;
	border-width:8px 16px 8px 0;
	border-color:transparent #fff transparent transparent;
}
.timeline ul li:nth-child(even) div {
	left:-175px;
}
.timeline ul li:nth-child(even) div::before {
	right:-15px;
	border-width:8px 0 8px 16px;
	border-color:transparent transparent transparent #fff;
}
time {
	display:block;
	font-size:1.4rem;
	font-weight:bold;
	margin-bottom:8px;
}
.timeline ul li::after {
	transition:background .5s ease-in-out;
}
.timeline ul li.in-view::after {
	background:lightgreen;
	border:1px solid;
}
.timeline ul li div {
	visibility:hidden;
	opacity:0;
	transition:all .5s ease-in-out;
}
.timeline ul li:nth-child(odd) div {
	transform:translate3d(100px,0,0);
}
.timeline ul li:nth-child(even) div {
	transform:translate3d(-100px,0,0);
}
.timeline ul li.in-view div {
	transform:none;
	visibility:visible;
	opacity:1;
}

/*BREAK*/
#break {
	background-image: url(przerwa.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	height:50vh;
	z-index:3;
}

/*UMIEJĘTNOŚCI*/

#skills {
	background-color: #71ffa7;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2379ffb1' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2380ffba' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2386ffc4' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%238cffcd' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2392ffd7' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23a8ffde' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23bcffe6' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23cfffed' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23e2fff5' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23f3fffc' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.accordion {
  	background-color: transparent;
  	text-align: center;
  	color: #000;
  	cursor: pointer;
  	padding: 18px;
  	width: 70%;
  	border:2px solid darkgreen;
  	border-radius: 50%;
  	font-size: 16px;
  	font-weight: bold;
  	transition: 0.5s;
}
.act {
  	width:80%;
  	border:3px dotted darkgreen;
}
.accordion:after {
  	content: '\002B';
  	color: #000;
  	font-weight: bold;
  	float: right;
  	margin-left: 5px;
  	cursor:pointer;
}
.act:after {
  	content: '\2212';
  	cursor:pointer;
}
.panel {
  	width:80%;
  	padding:18px, 18px;
  	margin-bottom: 30px;
  	background-color: transparent;
  	max-height:0;
  	overflow: hidden;
  	transition:max-height 0.6s ease-out;
}
.panel ul {
	padding:5px 20px;
	list-style-type: disc;
}
.panel ul li {
	padding:3px;
	font-size: 15px;
	color:darkgreen;
	line-height: 1.5;
}
/*JĘZYKI-wszystko ok już z RWD*/
#language {
	background-color: #71ffa7;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2379ffb1' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2380ffba' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2386ffc4' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%238cffcd' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2392ffd7' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23a8ffde' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23bcffe6' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23cfffed' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23e2fff5' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23f3fffc' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height:100%;
	padding: 15px 15px;
	display:flex;
	flex-flow:row wrap;
	justify-content: space-around;
}
#language h4 {
	width:100vw;
	padding-bottom: 25px;
	margin:auto;
}
.lang1 {
	display:flex;
	padding-right:15px;
	align-items: center;
}
#language img {
	width:90px;
	height:90px;
}
@keyframes lang {
	0%{transform:translateY(-100px);
	}
	100%{transform:translateY(0px);opacity:1;
	}
}
.star p {
	display:inline-block;
	font-size: 20px;
	margin:auto;
	align-items: center;
	justify-content: center;
	opacity:0;
}
.starBlack {
	animation:lang 0.3s ease-in-out forwards;
}
.star p:nth-child(1){
	animation-delay: 0.4s;
}
.star p:nth-child(2){
	animation-delay: 0.5s;
}
.star p:nth-child(3){
	animation-delay: 0.6s;
}
.star p:nth-child(4){
	animation-delay: 0.7s;
}
.star p:nth-child(5){
	animation-delay: 0.8s;
}
.star p:nth-child(6){
	animation-delay: 0.9s;
}
.star p:nth-child(7){
	animation-delay: 1s;
}
.star p:nth-child(8){
	animation-delay: 1.1s;
}
.star p:nth-child(9){
	animation-delay: 1.2s;
}
.star p:nth-child(10){
	animation-delay: 1.3s;
}
/*chce na widok zmienic translate before- poczytaj czy sie da*/

/*Zainteresowania*/
#hobby {
	background-color: #77aa77;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	height:100%;
}
.icon {
	display:flex;
	width:200px;
	height:160px;
	justify-content: center;
	align-items: center;
	opacity:0;
}
.show {
	animation:show 2s 1 forwards;
}
@keyframes show {
	0% {
		transform:translateY(-80px)
	}
	100% {
		opacity:1;
		transform:translateY(0px)
	}
}
#hobby ul {
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	margin:0;
}
#hobby li {
	font-size:22px;
	list-style-type: none;
}
#hobby img {
	height:70px;
	width:70px;
}
footer {
	font-size: 12px;
	background: grey;
	color:white;
	position:relative;
	padding:10px 15px;
	text-align: justify;
}
/*POCZĄTEK MEDIA QUERIES*/
@media(min-width: 530px) {
	header img{
		width:70vw;
		left:0;
	}
}

/*MEDIA 800px*/
@media(min-width: 800px) {
header img{
		width:60vw;
	}
hgroup {
	margin-top:20px;
	top:35%;
	right:10%;
}
hgroup h3 a:hover {
	color:rgb(33, 96, 150);
}
header h1 {
	font-size:25px;
	text-transform: uppercase;
	padding-bottom:20px;
}
.studyElement {
	width:60%;
}
.studyDescription {
	width:100%;
	font-size: 2.0vw;
}
.university {
    font-size: 2.2vw;
  }
time{
	font-size:1.8rem;
}
.timeline ul li div {
	width:250px;
}
.timeline ul li {
	font-size:22px;
}
.timeline ul li:nth-child(even) div {
	left:-275px;
}
.accordion {
  	width: 50%;
}
.lang1 {
	display:flex;
	padding-right:15px;
	align-items: center;
	width:40vw;
}
.icon {
	width:23vw;
}
}	

/*MEDIA 1100px*/
@media(min-width: 1100px) {
header{
	background-color: rgba(240,240,240, 0.4);
	}
header img{
	width:40vw;
	}
hgroup {
	top:15%;
	right:20%;
}
header h1{
	font-size:3rem;
	border-bottom:3px solid rgba(250, 247, 55);
	padding-bottom: 0px;
}
header h3 {
	font-size:1.8rem;
	font-weight:400;
	position:relative;
	left:10%;
	padding-top:20px;
}
.mailto {
	display:inline-block;
	width:100px;
	height:20px;
}
#menu-button {
  	display:none;
}
#menu {
  	background: transparent;
  	width: 40%;
  	padding: 10px;
  	color: #000;
  	font-family: arial;
  	position: fixed;
  	display:block;
  	top: 50%;
  	right:5%;
  	border-radius: 5px;
  	opacity:0.95;
  	z-index:1;
}
#menu ul li {
  	margin: 8px 0;
  	padding-bottom: 3px;
  	font-size: 2.3rem;
  	line-height: 1.5;
  	display:flex;
  	justify-content: center;
  	align-items:center;
}
#menu a {
	color:black;
	text-decoration: none;
	margin:2px;
	transition:transform 0.3s;
}
#menu a:hover {
	color:rgb(33, 96, 150);
	border-bottom:2px solid rgba(250, 247, 55);
	transform:translateX(5px);
}
.studyElement {
	width:50%;
}
.studyDescription {
	width:100%;
	font-size: 1.8em;
}
.university {
    font-size: 1.2em;
  }
 p.date {
 	font-size:24px;
 }
time {
	font-size:2.1rem;
}
.timeline ul li div {
	width:350px;
}
.timeline ul li {
	font-size:26px;
}
.timeline ul li:nth-child(even) div {
	left:-375px;
}
.icon {
	display:flex;
	width:25vw;
}
.lang1 {
	display:flex;
	padding-right:0px;
	align-items: center;
	width:25%;
}
}
/*KONIEC MEDIA QUERIES*/
>>>>>>> b4ef33e7f2cb0e08370709f822ede042e9d11335
